*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --second-color: #b9b9b9;
    --primary-color: #b5afaf;
    --black-color: #020101;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: gray;
}

header{
    background: gray;
}
.navbar {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background: #101d23;
    padding:0 5%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu{
    list-style: none;
}

.menu li{
    position: relative;
    float:left;
}

.menu li a{
    font-family: "Poppins", sans-serif;
    font-size:1.2rem;
    color:#d6e0f9;
    display:block;
    text-decoration: none;
    padding:1rem 1.5rem;
}

.menu li a:hover{
    background: #495ca8;
}

.submenu{
    position: absolute;
    left:0;
    background: #101d23;
    display:none;
    transition: all .3s ease-in-out;
}

.submenu-wrapper:hover .submenu,
.submenu-wrapper:focus-within .submenu{
    display: initial;
}

.submenu li{
    width:100%;
    border-top:.1rem solid #222f37;
    list-style: none;
}

.burokkocka {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    backdrop-filter: blur(25px);
    width: 450px;
    height: 450px;
    border: 2px solid var(--primary-color);
    padding:7.5em 2.5em 4em 2.5em;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    color: var(--second-color);
    
    
}

.kocka {
    width: 200px;
    height: 200px;;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: center;
    transform: translateX(-75%) translateY(-75%);
    perspective: 10000px;
    perspective-origin: center center;
    transform-style: preserve-3d;
	left: 50%;
    animation: rotate 30s infinite linear;
    transform:rotateX(360deg) rotateY(360deg);
}

.oldal {
    position:absolute;
    display: block;
    width: 100%;
    max-width: 200px;
    height: 100%;
    opacity:0.8;
    object-fit: cover;
    object-position: center;
}

.elol{
    background-image: url("../Kepek/egy.JPG");
    background-size: cover; /* A kép kitölti a konténert */
    background-position: center; /* A kép középre igazítása */
    background-repeat: no-repeat; /* Ne ismétlődjön a háttérkép */
    image-rendering: auto;
    transform: rotateY(0deg) translateZ(100px);

}
.jobb {
    background-image: url("../Kepek/ketto.JPG");
    background-size: cover; /* A kép kitölti a konténert */
    background-position: center; /* A kép középre igazítása */
    background-repeat: no-repeat; /* Ne ismétlődjön a háttérkép */
    transform: rotateY(90deg) translateZ(100px);
}

.hatul{
    background-image: url("../Kepek/harom.JPG");
    background-size: cover; /* A kép kitölti a konténert */
    background-position: center; /* A kép középre igazítása */
    background-repeat: no-repeat; /* Ne ismétlődjön a háttérkép */
    transform: rotateY(180deg) translateZ(100px);
}
.bal{
    background-image: url("../Kepek/negy.JPG");
    background-size: cover; /* A kép kitölti a konténert */
    background-position: center; /* A kép középre igazítása */
    background-repeat: no-repeat; /* Ne ismétlődjön a háttérkép */
    transform: rotateY(-90deg) translateZ(100px);
}
.fent{
    background-image: url("../Kepek/ot.JPG");
    background-size: cover; /* A kép kitölti a konténert */
    background-position: center; /* A kép középre igazítása */
    background-repeat: no-repeat; /* Ne ismétlődjön a háttérkép */
    transform: rotatex(90deg) translateZ(100px);
}
.lent{
    background-image: url("../Kepek/hat.JPG");
    background-size: cover; /* A kép kitölti a konténert */
    background-position: center; /* A kép középre igazítása */
    background-repeat: no-repeat; /* Ne ismétlődjön a háttérkép */
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotate {
    0% {
        transform:rotateX(0) rotateY(0);
    }
    100% {
        transform: rotateX(360deg) rotateY(360);
    }
    
}

.footer{
    background: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}